# Python
__pycache__/
*.py[cod]
*.sqlite3

# Entornos virtuales
env/
venv/

# Archivos sensibles
.env
*.secret
*.key

# Archivos de Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# uploads
uploads/
